header#search_bar
  .content
    h1
      a(href="/") Share Barter
    .controls
      select.select
        option Designer
        option Developer

section#search_content
  ul#people_list
    li test
    li test
    li test
    li test
    li test
    li test
  #map_canvas

script(src='https://maps.googleapis.com/maps/api/js?sensor=true')
script(src='/javascripts/map.js')
