!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/modernizr.min.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
    script(src='/javascripts/plugins.js')
    script(src='https://maps.googleapis.com/maps/api/js?sensor=true')
    script(src='/javascripts/map.js')
    script(src='/javascripts/functions.js')
  body!= body
